<footer class="footer">
    <div class="footer-content">
      <h2 class="logo">{{ texts.GENERAL.logo }}</h2>
      <div class="footer-links">
        <a href="#">{{ texts.FOOTER.privacy }}</a>
        <a href="#">{{ texts.FOOTER.terms }}</a>
        <a href="#">{{ texts.FOOTER.contact }}</a>
      </div>
      <div class="social-media">
        <a href="#"><fa-icon class="icon" [icon]="icons.facebook"></fa-icon></a>
        <a href="#"><fa-icon class="icon" [icon]="icons.twitter"></fa-icon></a>
        <a href="#"><fa-icon class="icon" [icon]="icons.instagram"></fa-icon></a>
      </div>
      <p class="created-by">{{ texts.FOOTER.creator }}</p>
    </div>
  </footer>
  